

SECRET_KEY=
DB_NAME=
# LOCATIONS_DB_NAME='locations'
DB_USER=
DB_PASS=
DB_HOST=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_HOST=
MEDIA_URL=
MEDIA_ROOT=
STATIC_URL=
STATIC_ROOT=
DEBUG=
DEVELOPMENT_MODE=


# Token resources
TOKEN_ACTION=
TOKEN_CONSUMER_CODE=
TOKEN_CONSUMER_KEY=
TOKEN_CONSUMER_SECRET=
TOKEN_API_KEY=
TOKEN_URL=


#Payments resources 
TRANSACTION_URL=
SEND_SMS_URL=
EKYC_URL=

# Reference numbers
REFERENCE_NUMBERS_ACTION=
REFERENCE_NUMBER_DEVELOPER_USERNAME=
REFERENCE_NUMBER_DEVELOPER_APIKEY=
REFERENCE_NUMBER_LIMIT=
REFERENCE_NUMBER_URL=
REFERENCE_NUMBER_ACTION=


# Jambopay integration 
JAMBOPAY_CLIENT_ID=
JAMBOPAY_CLIENT_SECRET=
JAMBOPA_GRANT_TYPE=
JAMBOPAY_AUTH_URL=
JAMBOPAY_BASE_URL=
WAZIPOS_JAMBOPAY_COLLECTION_ACCOUNT=
WAZIPOS_JAMBOPAY_WHITELABEL_ACCOUNT=
JAMBOPAY_SERVICE_TYPE_1=
FIELD_ENCRYPTION_KEY=

# Email sending
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
DOMAIN=